rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Règle pour l'historique utilisateur (Sécurisé)
    match /users/{uid}/episode_history/{episodeId} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
    
    // Collection de podcasts publics
    match /podcasts/{podcastId} {
      allow read: if true; // Public
      allow write: if false; // Admin uniquement
    }
    
    // Collection des abonnements utilisateur
    match /subscriptions/{subscriptionId} {
      allow read: if request.auth != null && resource.data.userId == request.auth.uid;
      allow write: if request.auth != null && 
        (resource == null || resource.data.userId == request.auth.uid) && 
        (request.resource == null || request.resource.data.userId == request.auth.uid);
    }
    
    // Blocage par défaut
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
